<!DOCTYPE html>
<html lang="en">
<head>
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        $( document ).ready(function() {
            console.log( "ready!" );
            init();
        });

        function init(){
            $("#start_git_oauth").click(start_oauth)
        }

       function start_oauth(){

       }
   </script>
</head>
<body>
<a href="{{github_base}}/login/oauth/authorize?client_id={{github_client_id}}&scope=repo&state=assignment&allow_signup=false">Get Github Information</a>
</body>
</html>